{% extends "base.html" %}
{% block head %}
          
          <a class="navbar-brand" href="{% url 'record_entry_form_NID' %}">Police Record Management</a>
{% endblock head %}
{% block navbar %}
<div class="navbar-nav">
    <a class="nav-link" href="{% url 'record_entry_form_NID' %}">Record Entry NID</a>
    <a class="nav-link" href="{% url 'record_entry_form_DOB' %}">Record Entry DOB</a>
    <a class="nav-link active" aria-current="page" href="{% url 'record_check_NID' %}">Record Check NID</a>
    <a class="nav-link" href="{% url 'record_check_DOB' %}">Record Check DOB</a>
    <a class="nav-link" href="{% url 'signout' %}">Signout</a>
</div>
    
{% endblock navbar %}
{% block content %}
<div style="width : 70% ; margin : auto; margin-top: 1.5rem; border: 2px solid black; padding: 2rem; border-radius: 1.5rem;">
    <h3 style = "text-align : center; padding-top: 8vh;"> Search record using NID number </h3>
<form class="d-flex" role="search" method="POST" style="margin : 15vw;margin-top : 30vh;" action="{% url 'search-view' %}">
    {% csrf_token %}
    <input
       class="form-control me-2"
       type="search"
       placeholder="Enter NID number"
       name="search_query"
       required aria-label="Search"
       
    >
    <button class="btn btn-outline-info" type="submit">Search</button>
   </form>
</div>
{% endblock content %}